node_modules
vendor
.git
.env
.idea
.vscode
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
phpunit.xml
.agent
IMPLEMENTATION_PLAN.md
_ide_helper.php
jsconfig.json
package-lock.json
yarn.lock
tests
